@model MvcBookStore.Models.SACH

@{
    ViewBag.Title = "Chitietsach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Chi Tiết Sách</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>

        <dt>
            Đơn Vị Tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>

        <dt>
            Đơn Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            Mô Tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Hình Minh Họa:
        </dt>

        <dd>
            <br />
            <img src="@Url.Content("~/img/"+ Model.Hinhminhhoa)" width="100px" />
        </dd>

        <dt>
            Mã Chủ Đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCD)
        </dd>

        <dt>
            Mã Nhà Xuất Bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>

        <dt>
            Ngyaf Cập Nhật:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaycapnhat)
        </dd>

        <dt>
            Số Lượng Bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongban)
        </dd>

        <dt>
            Số Lần Xem:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solanxem)
        </dd>

        <dt>
            Mới:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Suasach", new { id = Model.Masach }) |
    @Html.ActionLink("Quây về Trang Chủ", "Index")
</p>
