@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@*@model  IEnumerable<MvcBookStore.Models.SACH>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search"/>
    </p>
}
<div class="row">
    @foreach (var sach in Model)
    {

        <div class="thumbnail col-sm-4 col-lg-4 cod-md-4" style="width:300px;height:220px;text-align:center; margin:3px;">

           
            <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
                <img alt="@sach.Tensach" src="~/img/@sach.Hinhminhhoa" width="100" />
                <p style="text-align:center">@sach.Tensach</p>
                <div>PRICE:<span>@sach.Dongia</span></div>
                <div><a href="shoppingcard.html">Buy Now</a></div>
                <a href="@sach.Mota">Details</a>

        </div>
        }
   
    
</div>
<div>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</div>
<div class="MenuTrang">
    @Html.PagedListPager(Model,page=>Url.Action("Index",new { page=page}))
</div>

<style>
    .MenuTrang li{
        display:inline;
    }
</style>




